@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --panel-header-background: #f0f2f5;
  --panel-background-deeper: #e9edef;
  --outgoing-background: #d9fdd3;
  --chevron-button-background: rgba(17, 27, 33, 0.35);
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(200, 200, 200) #fff;
}
