@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --panel-header-background: #f0f2f5;
  --panel-background-deeper: #e9edef;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
